<a href="https://colab.research.google.com/github/dzipkowi/NBA-Decade-Analytics/blob/master/Team-Analytics/Team_Analysis_Notebook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## In this Notebook, we are going to be using the Team History Dataset scraped from Basketball Reference.

In [0]:
import sqlite3
import pandas as pd
import plotly.express as px

conn = sqlite3.connect('/content/team_history.sqlite')
df = pd.read_sql_query("SELECT * FROM TEAM_HISTORY", conn)

In [2]:
df.head()

    Rk   Age     W     L  ...                  Arena  Attend.  Attend./G  Year
0  1.0  27.9  59.0  23.0  ...            Amway Arena   715901      17461  2010
1  2.0  28.0  61.0  21.0  ...    Quicken Loans Arena   843042      20562  2010
2  3.0  25.6  53.0  29.0  ...  EnergySolutions Arena   794512      19378  2010
3  4.0  28.7  50.0  32.0  ...            AT&T Center   741676      18090  2010
4  5.0  28.4  57.0  25.0  ...         STAPLES Center   778877      18997  2010

[5 rows x 20 columns]

How has attendance changed over the past 10 years?

In [7]:
#@title
attendance_total = df[['Attend.', 'Year']]
attendance_total = attendance_total.groupby(['Year']).sum()

fig = px.line(attendance_total, x=attendance_total.index, y="Attend.")

fig.update_layout(template = 'presentation',
     title="Total Attendance [2010-2020]",
    xaxis_title="Year",
    yaxis_title="Attendance",
    font=dict(
        family="Computer Modern",
        size=18,
        color="#7f7f7f"),
    annotations=[
        dict(
            x=2012,
            y=18000000,
            xref="x",
            yref="y",
            text="NBA Lockout",
            showarrow=True,
            arrowhead=7,
            ax=0,
            ay=-130,
            font = dict(size = 14)
        )
    ]
    )

fig

In [0]:
import plotly.io as pio

pio.write_html(fig, file='figure.html', auto_open=True)